body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.landing{
    background-image: url('pexels-thepaintedsquare-858094\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    
}
header a{
    text-decoration: none;
    color: rgba(255, 255, 0, 0.954);
}
header{
    display: flex;
    padding: 1em;          /*for efficient spacings*/
}
#logo{
    flex: 3;
    font-size: 1.25em;
}
nav{
    display: flex;
    flex: 2;             /*to display flex for both nav links*/
}
nav a{
    flex: 1;             /*to display flex for 1:1 ratio for two nav links*/
}
nav a:hover{
    color: white;
}
.maintext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    padding: 2em;
}
.tagline1{
    font-size: 2.5em;
    font-weight: bold;
    color: red;
}
.tagline2{
    color: yellow;
}
.maintext div{
    margin-top: 0.75em;
}
.maintext button{
    width: 20vw;
    margin-top: 2em;
    border-radius: 10px;
    padding: .7em;
    background-color:greenyellow;
    color: white;
}
button:hover{
    background-color: red;
}